<!DOCTYPE html>
<html lang="hr">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>SportsPortal - Prijava</title>
</head>
<body>
    <h1>Prijava</h1>

    <div class="content">
      {% if form.errors %}
          <div class="warning">Pogrešno korisničko ime ili lozinka.</div>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
              <div class="warning">Vašem računu nije dozvoljen pristup navedenoj stranici.
                Molimo, vas prijavite se s računom koji ima pristup.</div>
          {% endif %}
      {% endif %}

      <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <p>
            <label>Korisničko ime:</label><br>
            {{ form.username }}
          </p>
            
          <p>
            <label>Lozinka:</label><br>
            {{ form.password }}
          </p>

          <input type="submit" value="Prijava" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
</body>