{% if form.errors %}
    <h3>Unos nije ispravan.</h3>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% endif %}
{% endif %}

<h1>Prijava</h1>

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p>
      <label>Korisničko ime:</label><br>
      {{ form.username }}
    </p>
      
    <p>
      <label>Lozinka:</label><br>
      {{ form.password }}
    </p>

    <input type="submit" value="Prijava" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>