{% extends "base_generic.html" %}

{% block content %}
    <h1>Natjecanje: {{ object.competition_name }}</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}

    <p class="match_details">Država: <b>{{ object.competition_country }}</b></p>


    {% if request.user.is_superuser %}
    <p class="match_details grid-container" style="margin-top: 5%; margin-bottom: 1%;">
        <span>
            <a href="{% url 'editCompetition' object.id %}" style="color: black;">
                <i class="fa fa-edit" style="font-size: 30px; color:black;"></i>
                Ažuriraj natjecanje
            </a>
        </span>
        <span></span>
        <span>
            <a href="{% url 'deleteCompetition' object.id %}" style="color: red;"
                onclick="return confirm('Jeste li sigurni da želite obrisati natjecanje {{ object.competition_name }}?');"
            >
                <i class="fa fa-trash-o" style="font-size: 30px; color:red;"></i>
                Izbriši natjecanje
            </a>
        </span>
    </p>
    {% endif %}

    
    <br>
    <div class="description competition">
        <a href="#matches" onclick="openClose(1)">Utakmice</a>
        <span></span>
        <a href="#teams" onclick="openClose(2)">Momčadi</a>
    </div>

    <div class="competitionMatches">
    {% if matches_list %}
        {% for match in matches_list %}
            <a href="{% url 'matchDetails' match.id %}" class="match_link">
                <div class="match">
                    <p class="match_date"> {{ match.match_date|date:"d. m. Y., H:i" }} </p>
                    
                    <p class="score">
                        {{ match.match_team1 }} 

                    <span>
                        {{ match.match_score1 }} - {{ match.match_score2 }}
                    </span>

                        {{ match.match_team2 }}
                    </p>
                    
                    <p class="match_competition">Natjecanje: {{ match.match_competition }} </p>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p class="description" style="text-align: center;">Nema odigranih utakmica</p>
    {% endif %}
    </div>

    {% if competition_teams %}
        <div class="grid-container hide" style="display: none;">
            {% for team in competition_teams %}
                <a href="{% url 'teamDetails' team.id %}" class="match_link">
                    <div class="match">
                        <h3>{{ team.team_name }}</h3>
                        <p>{{ team.team_country }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="hide" style="display: none;">
            <p class="description" style="text-align: center;">Nema momčadi</p>
        </div>
    {% endif %}

    <script>
        function openClose(x) {
            const matches = document.getElementsByClassName("competitionMatches")[0];
            const teams = document.getElementsByClassName("hide")[0];

            if (x==1) {
                matches.style.display = 'block';
                teams.style.display = 'none';
            } else {
                matches.style.display = 'none';
                teams.style.display = 'grid';
            }
        }
    </script>
{% endblock %}