{% extends "base_generic.html" %}

{% block content %}
    <h1>SportsPortal</h1>

    <div class="searchGrid">
        <p class="description">Najnovije utakmice:</p>

        <form class="searchOption" method="get" action="{% url 'index' %}">
            <input 
                type="text"
                name="search"
                placeholder="Pretraga..."
                value="{{ search_query }}"
            >
            <button type="submit">Traži</button>
        </form>
    </div>

    {% if object_list %}
        {% for match in object_list %}
            <a href="{% url 'matchDetails' match.id %}" class="match_link">
                <div class="match">
                    <p class="match_date"> {{ match.match_date|date:"d. m. Y., H:i" }} </p>
                    
                    <p class="score">
                        {{ match.match_team1 }} 

                    <span>
                        {{ match.match_score1 }} - {{ match.match_score2 }}
                    </span>

                        {{ match.match_team2 }}
                    </p>
                    
                    <p class="match_competition">Natjecanje: {{ match.match_competition }} </p>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p class="description" style="text-align: center;">Nema odigranih utakmica</p>
    {% endif %}
{% endblock %}