{% extends "base_generic.html" %}

{% block content %}
    <h1>Popis svih utakmica</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}

    <form class="searchOption" method="get" action="{% url 'allMatches' %}" style="margin-bottom: -3%;">
        <input 
            type="text"
            name="search"
            placeholder="Pretraga..."
            value="{{ search_query }}"
        >
        <button type="submit">Traži</button>
    </form>

    {% if grouped_matches.items %}
        {% for competition, matches in grouped_matches.items %}
            <h2><a href="{% url 'competitionDetails' competition.id %}">{{ competition }}</a></h2>

            {% for match in matches %}
                <a href="{% url 'matchDetails' match.id %}" class="match_link">
                    <div class="match">
                        <p class="match_date">{{ match.match_date|date:"d. m. Y., H:i" }}</p>
                        <p class="score">
                            {{ match.match_team1 }}
                            <span>
                                {{ match.match_score1 }} - {{ match.match_score2 }}
                            </span>
                            {{ match.match_team2 }}
                        </p>
                    </div>
                </a>
            {% endfor %}
        {% endfor %}
    {% else %}
        <p class="description" style="text-align: center;">Nema odigranih utakmica</p>
    {% endif %}
{% endblock %}