{% extends "base_generic.html" %}

{% block content %}
    <h1>{% if form_action == 'edit' %}
        Ažuriraj korisnika
    {% else %}
        Dodaj korisnika
    {% endif %}</h1>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% if form_action == 'edit' %} {% url 'editUser' userID %} {% else %} {% url 'createUser' %} {% endif %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Pohrani">
    </form>
{% endblock %}